<table >
	<tr>
		<th>IP address</th>
		<td><IPADDRESS></td>
	</tr>
	<tr>
		<th>User / Password</th>
		<td><USER> / <USER_PASSWORD></td>
	</tr>
	<tr>
		<th>Oracle ASM Home Path</th>
		<td><ASM_PATH></td>
	</tr>
	<tr>
		<th>Oracle ASM Instance Password</th>
		<td><ASM_PASSWORD></td>
	</tr>
	<tr>
		<th>Oracle Database Home Path</th>
		<td><DB_PATH></td>
	</tr>
	<tr>
		<th>Oracle Database SID</th>
		<td><DB_SID></td>
	</tr>
	<tr>
		<th>Oracle Database Instance Password</th>
		<td><DB_PASSWORD></td>
	</tr>
</table>
