<table >
	<tr>
		<th>Swingbench Database Server IP address</th>
		<td><DB_IPADDRESS></td>
	</tr>
	<tr>
		<th>User / Password</th>
		<td><USER> / <USER_PASSWORD></td>
	</tr>
	<tr>
		<th>Oracle Database Home Path</th>
		<td><DB_PATH></td>
	</tr>
	<tr>
		<th>Oracle Database SID</th>
		<td><DB_SID></td>
	</tr>
	<tr>
		<th>Oracle Database Instance Password</th>
		<td><DB_PASSWORD></td>
	</tr>

	<tr>
		<th>Swingbench Application Server IP address</th>
		<td><APPS_IPADDRESS></td>
	</tr>
	<tr>
		<th>User / Password</th>
		<td><USER> / <USER_PASSWORD></td>
	</tr>
	<tr>
		<th>SWINGBENCH Application Home Path</th>
		<td><SWING_PATH></td>
	</tr>
</table>
